{% extends 'base.html' %}
{% block title %}Commit Tracker{% endblock %}
{% block body %}
<form action="/" method="post" id="loginForm">
    <center>
        <h1>Login</h1>
    </center>
    <br>
    <input type="text" name="username" id="username" placeholder="Enter Username" autocomplete="off">
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <input type="submit" value="Log In">
    <br>
    <center>
        <a href="/register">Register</a> instead ?
    </center>
</form>
{% if message %}
<center>
    <h3 style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%); color: red;">{{message}}</h3>
</center>
{% endif %}
{% endblock %}